#mainDivGift{
    box-sizing: border-box; 
    padding-top: 20px; 
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.ui-dialog {
    background-color: #B2EBF2;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title{
    font-family: 'irsans';
}

.ui-dialog-content{
    font-family: 'irsans';
}

.ui-dialog-content input{
    font-family: 'irsans';
    direction: ltr;
}

.ui-dialog-footer button{
    font-family: 'irsans';
}

.successMsgDiv{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    color: green;
}

.timerDiv{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #FDD835;
}

.faultMsgDiv{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: tomato;
}

.textModalDiv{
    width: 100%;
    text-align: center;
}

.divElemanCenter{
    width: 100%; 
    text-align: center;
}

.descriptionFontStyle{
    line-height: 25px; 
    font-size: 20px; 
    color: #283593; 
    font-weight: bold; 
    padding-bottom: 20px; 
    padding-top: 20px;
}

#textGoToClick{
    color: #E91E63; 
    font-weight: bolder;
}