<!--start modal for userMenuModal-->
<div (window:resize)="onResize($event)">
    <div [ngClass]="showModal ? 'mainDivShow' : 'mainDivHide'">

        <div *ngIf="shared.yWindow.value > 370" [ngClass]="showModal ? 'boxModalShow' : 'boxModalHide'"
            [ngStyle]="{top: modalBoxPositionTop, left: modalBoxPositionLeft}">
             
            
            <div [ngClass]="showModal ? 'btnCloseShow' : 'btnCloseHide'" (click)="onCloseModal()">X</div>
            
            <div style="padding: 3px 5px;">
                <menu-login-itme [inputCredit]="userCredit" (close)="emitClose($event)"></menu-login-itme>
            </div>   
         
        </div>

        <div *ngIf="shared.yWindow.value <= 370" [ngClass]="showModal ? 'boxModalShowLittle' : 'boxModalHide'"
            [ngStyle]="{top: modalBoxPositionTop, left: modalBoxPositionLeft}">
             
            
            <div [ngClass]="showModal ? 'btnCloseShow' : 'btnCloseHide'" (click)="onCloseModal()">X</div>
            
            <div style="padding: 3px 5px;">
                <menu-login-itme [inputCredit]="userCredit" (close)="emitClose($event)"></menu-login-itme>
            </div>   
         
        </div>

    </div>
</div>
<!--end modal for userMenuModal-->

