.clear{
    padding: 0; 
    margin: 0;
}

.mainDiv{
    background-color: rgba(33,150,243, 0.11);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    padding-top: 10px; 
    padding-bottom: 10px;
}

.fontSmall{
    font-size: 12px;
}

.titr{
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.txtLink{
    font-size: 12px;
    line-height: 25px;
    color: black;
    cursor: pointer;
}

.txtLink:hover{
    color: green;
}

.socialIcon{
    cursor: pointer;
    width: 25px; 
    height: 25px;
}

.socialIcon:hover{
    border-bottom: 1px solid black;
}