<div *ngIf="shared.showModalFolloweRequest.value && shared.firstTimeShowModalFolloweRequest.value"
    [ngStyle]="{height: shared.yWindow.value+'px', width: shared.xWindow.value+'px'}" 
    class="divLoadingPage">

    <div *ngIf="loading">
        <app-loading-fullpage-latti></app-loading-fullpage-latti>
    </div>

    <div id="divWiteBox">
        <div id="divClose">
            <img src="assets/webappPics/x-button.png" alt="close" (click)="closeModal()" id="imgClose">
        </div>
 
        <div class="textDiv">
            <span id="textTitr">شما یک درخواست فعال دارید</span>
        </div>
        <div class="textDiv">
            <span class="subText">برای پیگیری درخواست خود بر روی دکمه زیر کلیک کنید</span>
        </div>

        <div class="textDiv" *ngIf="hasDiscount">
            <div><span>{{"کد تخفیف شما : "}}</span></div>
            <div><span style="color: #EC407A;">{{discountCode}}</span></div>
            <div><span class="subText" >برای استفاده از کد تخفیف ، پرداخت هزینه باید به صورت اعتباری (آنلاین) انجام گیرد</span></div>
        </div>
        
        <div class="textDiv">
            <span class="subText">شماره‌های پشتیبانی</span>
            <div><span>{{tel1}}</span></div>
            <div><span>{{mobile1}}</span></div>
        </div>

        <div class="textDiv">
            <input type="button" class="btn" value="پیگیری درخواست" id="btnFollowRequest" (click)="onFollowingRequest()">
        </div>
    </div>

</div>