<div id="mainDiv">
  <div class="row justify-content-md-center clear">
      <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-9" id="contant">
          <div id="mapGoogleDiv"></div>
          <div class="underLineDiv1">
            <h1 class="h1Font">{{mainTitle}}</h1>
          </div>
          <div class="underLineDiv2"></div>
          <div id="leftContent">
              <div class="textDiv">
                <span><i class="fas fa-map-marker-alt ml-2"></i>{{address}}</span>
              </div>
              <div class="row clear">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 clear">
                  <span><i class="fas fa-phone ml-2"></i>{{textTelphone}}</span>
                </div>
                <div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-9 clear">
                  <div style="padding-right: 4px; width: 100%; text-align: right;">
                    <span>{{telphone1}}</span>
                    <div><span>{{mobile1}}</span></div>
                  </div>
                </div>
              </div>
          </div>
          <div class="text-center d-none d-lg-block">
              <img src="assets/image/gif/contactus.gif" alt="contact us" class="imgStyle">
          </div>
      </div>
  </div>

</div>

<!----start footer---->
<app-footer></app-footer>
<!----end footer---->
