<div *ngIf="shared.iqbazHour.value >= 10 && shared.iqbazDay.value == 23">

<div style="text-align:center; padding: 10px 0px;">
    <strong style="color: white;">
      تماشای آنلاین قرعه کشی جشنواره از آپارات
    </strong>
</div>
  
<div style="width: 100%; height: 100%; max-height: 400px; max-width: 400px; margin: 0 auto; padding-bottom: 10px;">
  
  <div class="h_iframe-aparat_embed_frame"> 
    <span style="display: block; padding-top: 57%">
      قرعه کشی جشنواره آی کیو باز
    </span>
    <iframe scrolling="no" 
      allowFullScreen="true" 
      webkitallowfullscreen="true" 
      mozallowfullscreen="true"  
      src ="https://www.aparat.com/DaniosaIII/live2?embed&fa">
    </iframe>
  </div>
  
</div>

<div class="text-justify" style="text-align: right; color: white; font-size: 14px; padding: 10px 15px; width: 100%; max-width: 500px; margin: 0 auto;">
  <span>توجه: اگر ساعت از ۲۱ گذشته است و تصویر را مشاهده نمی کنید، لطفا صفحه را دوباره بارگذاری (refresh) نمایید.</span>
  <div style="padding: 10px 0px;">
    <span>در صورت داشتن مشکل در دریافت تصاویر می توانید از لینک زیر برای مشاهده زنده قرعه کشی استفاده نمایید.</span>
  </div>
  <div style="padding: 5px 10px; background-color: white; border-radius: 15px; text-align: center; width: 200px;">
    <a href="https://www.aparat.com/daniosaiii" target="_blank">
      <span>لینک در سایت آپارات</span>
    </a>
  </div>
</div>

</div>
  
  
  
  