.visibleDivModal{
    position: fixed;
    background-color: transparent;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.hideDivModal{
    position: fixed;
    background-color: transparent;
    top: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 0;
}


.hideDivModalCover{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
}

.visibleDivModalCover{
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.modalClose{
    width: 30px; 
    height: 30px; 
    color: white; 
    background-color: tomato; 
    text-align: center; 
    border: 1px solid red; 
    cursor: pointer;
}

.modalBoxContent{
    position: absolute; 
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    transition: all 0.5s ease;
    height: 0;
    width: 0;
}
