<div id="download">

<div class="mainDiv">
    <div class="row clear">
      <div class="d-none d-md-block col-md-6 col-lg-6 col-xl-6 clear">
        <div style="width: 100%; max-width: 450px; float: left; padding-left: 45px;">
        <div class="divTextDl">
          <h2 class="text-justify">{{title}}</h2>
          <h3 class="text-justify">{{description}}</h3>
        </div>
        <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="btnDlMainDiv">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 imgBtnDiv">
            <a [href]="directLink" target="_blank">
              <img src="assets/image/market/directCu.png" alt="لینک دانلود مستقیم" class="img-fluid imgBtnDl">
            </a>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 imgBtnDiv">
            <a [href]="cofeBazarLink" target="_blank">
              <img src="assets/image/market/bazar60.png" alt="لینک اپلیکیشن در بازار" class= "img-fluid imgBtnDl">
            </a>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 imgBtnDiv">
            <a [href]="googlePlay" target="_blank">
              <img [src]="imgGooglePlaySrc" alt="لینک اپلیکیشن در گوگل پلی" class="img-fluid imgBtnDl">
            </a>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 imgBtnDiv">
            <a [href]="webAppAddress">
              <img [src]="imgWebApp" alt="لینک وب اپلیکیشن" class="img-fluid imgBtnDl">
            </a>
          </div>
        </div>
        </div>
      </div>
      <div class="d-none d-md-block col-md-6 col-lg-6 col-xl-6 clear">
        <div style="width: 100%; display: flex; align-items: center; justify-content: flex-start;">
          <div style="width: 100%; max-width: 445px; padding-right: 45px;">
            <img src="assets/image/downloadAppUser.png" alt="دانلود اپلیکیشن پالسین" style="width: 100%;" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

      <div class="col-12 col-sm-12 d-block d-md-none clear">
        <div style="width: 100%; max-width: 450px; margin: 0 auto; padding-left: 7px; padding-right: 7px;">
        <div style="font-size: 12px; padding-top: 7px; padding-bottom: 7px;">
          <h2 class="text-justify">{{title}}</h2>
          <h3 class="text-justify">{{description}}</h3>
        </div>
        <div class="row clear" id="btnDlMainDiv">
          <div class="col-6 col-sm-6 imgBtnDiv">
            <a [href]="directLink" target="_blank">
              <img src="assets/image/market/directCu.png" alt="لینک دانلود مستقیم" class="img-fluid imgBtnDl">
            </a>
          </div>
          <div class="col-6 col-sm-6 imgBtnDiv">
            <a [href]="cofeBazarLink" target="_blank">
              <img src="assets/image/market/bazar60.png" alt="لینک اپلیکیشن در بازار" class= "img-fluid imgBtnDl">
            </a>
          </div>
          <div class="col-6 col-sm-6 imgBtnDiv">
            <a [href]="googlePlay" target="_blank">
              <img [src]="imgGooglePlaySrc" alt="لینک اپلیکیشن در گوگل پلی" class="img-fluid imgBtnDl">
            </a>
          </div>
          <div class="col-6 col-sm-6 imgBtnDiv">
            <a [href]="webAppAddress">
              <img [src]="imgWebApp" alt="لینک وب اپلیکیشن" class="img-fluid imgBtnDl">
            </a>
          </div>
        </div>
        </div>
      </div>
</div>

</div>




