
#btnGotoCurrentRequestPage{
    padding: 10px 30px; 
    border-radius: 7px; 
    background-color: #2196F3; 
    cursor: pointer;
    font-size: 16px;
    color: white;
}

#btnGotoCurrentRequestPage:hover{
    background-color: #1027F8; 
}
