<div style="padding-top: 30px; padding-bottom: 10px;">

  <div class="row clear">
      <div class="col-md-3 col-lg-3 col-xl-3 clear"></div>
      <div class="col-md-6 col-lg-6 col-xl-6 clear">
            <div class="text-center">
                <div class="col-12 col-ms-12 col-md-12 col-lg-12 col-xl-12 clear text-center divTitlePad">
                    <strong class="fontTitleH2">{{mainTitle}}</strong>
                </div>
            </div>
            <div class="text-center">
             <h3>
                 گاهی وقتا حتی برای یه ثانیه هم نمی تونی کارت رو ول کنی و اینقدر سرت شلوغه که وقت سر خاروندن هم نداری! پالسین اینجور مواقع به دادت میرسه. فقط کافیه نیازت رو توی اپ مشخص کنی و باقی کار رو به متخصص پالسین بسپری!
             </h3>
          </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 clear"></div>
      <div class="eLine"></div>
  </div>

  
  <div class="row clear" id="subInfoPaddingDiv">
      <div class="col-md-4 col-lg-4 col-xl-4 clear" style="background-color: transparent;">
          <div class="col-md-12 col-lg-12 col-xl-12 clear bg-white whiteCard">
              <div class="text-center">
                  <img src="assets/image/char1.png" alt="ثبت درخواست" class="img-fluid imgStyle">
              </div>
              <div class="text-center">
                  <h3 class="h3Bold">ثبت درخواست</h3>
              </div>
              <div class="text-center descriptionCard">
                  <h3> برای نیاز خود از میان دسته بندی های نظافت، تعمیرات، تدریس و آموزش و یا حتی مشاوره و کارواش، یکی را انتخاب کنید و درخواست متخصص خود را ثبت نمایید.</h3>
              </div>
          </div>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-4 clear" style="background-color: transparent;">
          <div class="col-md-12 col-lg-12 col-xl-12 clear shadow-lg bg-white whiteCard">
              <div class="text-center">
                  <img src="assets/image/char2.png" alt="انتخاب متخصص" class="img-fluid imgStyle">
              </div>
              <div class="text-center">
                  <h3 class="h3Bold">انتخاب متخصص</h3>
              </div>
              <div class="text-center descriptionCard">
                  <h3> هر کدام از متخصصین حوزه های نظافت، تعمیرات و یا سایر خدمات برای شما پیشنهاد قیمت خود را ارائه می کنند. با توجه به قیمت های پیشنهادی و نظرات کاربران در خصوص کیفیت کار یک متخصص، آنها را انتخاب کنید.</h3>
            </div>
          </div>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-4 clear" style="background-color: transparent;">
          <div class="col-md-12 col-lg-12 col-xl-12 clear shadow-lg bg-white whiteCard">
              <div class="text-center">
                  <img src="assets/image/char3.png" alt="پایان کار" class="img-fluid imgStyle">
              </div>
              <div class="text-center">
                  <h3 class="h3Bold">اتمام کار</h3>
              </div>
              <div class="text-center descriptionCard">
                <h3>به کارهای خود برسید و انجام کار مورد نظر را به متخصص پالسین محول کنید. در مدت کوتاهی کار شما با کیفیت عالی مرتفع خواهد شد.</h3>
              </div>
          </div>
      </div>
      
  </div>

</div>