<div (window:resize)="onResize($event)">
    
<div *ngIf = 'xWindow > 720; else mobileBlock'>
    <!-------start fixed top menu-----
    <app-top-fix-menu [jobCats1]="categories1"></app-top-fix-menu>
    <!------end fixed top menu------->
    
    <!--------start top menu------
    <app-top-menu [jobCats1]="categories1" [jobCats2]="categories2" [jobCats3]="categories3" [state]='0'></app-top-menu>-->
    <!--------end top menu-------->
    
    <!--------start job cat menu------
    <app-job-cat-menu [jobCats1]="categories1"></app-job-cat-menu>-->
    <!-----end job cat menu-------->
</div>
<ng-template #mobileBlock>
    <!--------start mob top menu-------
    <app-mob-top-menu [jobCats1]="categories1" [jobCats2]="categories2" [jobCats3]="categories3"></app-mob-top-menu>
    --------end mob top menu-------->
</ng-template>



<!--start main content-->
<div class="contentPadding" [ngStyle]="{'min-height': yWindow + 'px'}">  

      <div>
        <div id="mainTitle">
            <h1 class="h1Font">{{mainTitle}}</h1>
        </div>

        <!---Start Servic0------>
        <div *ngIf="service0length > 0" [ngStyle]="{background: backColor1}" id="mainDivService0">

            <!--------start fix background image-------->
            <div id="jobcat1" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                 style.backgroundImage = "{{'url(' + path + service0?.image + ')'}}">
                 <div class="col-11 col-sm-11 col-md-10 col-lg-7 col-xl-5 whiteBox">
                   <div class="text-center">
                      <h1 class="h1FontDescrip text-truncate">{{cat1Name}}</h1>
                   </div>
                    <div class="text-right" id="jobCat1Description">
                        <h2 class="h2Font text-justify">{{description}}</h2>
                    </div>
        
                 </div>
            </div>
            <!--------end fix background image-------->
          
          <div id="jobCat2Div">
              
              <div class="row clear" 
                   *ngIf="!showMore; else blockAll">
                  <div *ngFor="let item of service0?.cat2CoList; index as i"
                       class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 boxJobCat2">
                      <div class="mycontainer" *ngIf="i < 3">
                          <img [src]="path + item?.tumbnail" [alt]="item?.name" class="image">
                          <div class="overlay1"></div>
                          <div class="overlay2">
                              <div class="text1 text-truncate">{{item.name}}</div>
                              <div class="text2 text-truncate">{{item.topInfo}}</div>
                              <div class="butonDiv">
                                  <input type="button" value="اطلاعات بیشتر"
                                  class="btn btn-success btnStyle" [routerLink]="['/', cat1Ename, item?.ename]">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        
              <div *ngIf="service0length > 3 && !showMore" style="width: 100%;" class="text-center">
                  <input type="button" value="مشاهده بیشتر" class="btn btn-info btnMore" (click)="onMore()">
              </div>
          
              <ng-template #blockAll>
                  <div class="row clear">
                 <div *ngFor="let item of service0?.cat2CoList; index as i"
                 class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 boxJobCat2">
                     <div class="mycontainer">
                         <img [src]="path + item?.tumbnail" [alt]="item.name" class="image">
                         <div class="overlay1"></div>
                         <div class="overlay2">
                             <div class="text1 text-truncate">{{item?.name}}</div>
                             <div class="text2 text-truncate">{{item?.topInfo}}</div>
                             <div class="butonDiv">
                                 <input type="button" value="اطلاعات بیشتر"
                                 class="btn btn-success btnStyle" [routerLink]="['/', cat1Ename, item?.ename]">
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
            </ng-template>
          
          </div>
        
        </div>
        <!--End service0------>

        <!--
        <div pDefer> 
            <ng-template>
                <app-cat1cat2 [serviceCat1]="service1" [color]="backColor2" [winWidth]="xWindow"></app-cat1cat2>
            </ng-template>
        </div>
        -->

        <div *ngIf="service1length > 0" [ngClass]="isShowJobCat2 ? 'showService' : 'hideService'">
            <app-cat1cat2 [serviceCat1]="service1" [color]="backColor2" [winWidth]="xWindow"></app-cat1cat2>
        </div>

        <!--
        <div pDefer>
            <ng-template>
                <app-cat1cat2 [serviceCat1]="service2" [color]="backColor1" [winWidth]="xWindow"></app-cat1cat2>
            </ng-template>
        </div>
        -->
        <div *ngIf="service2length > 0" [ngClass]="isShowJobCat3 ? 'showService' : 'hideService'">
            <app-cat1cat2 [serviceCat1]="service2" [color]="backColor1" [winWidth]="xWindow"></app-cat1cat2>
        </div>

        <!--
        <div pDefer>
            <ng-template>
                <app-cat1cat2 [serviceCat1]="service3" [color]="backColor2" [winWidth]="xWindow"></app-cat1cat2>
            </ng-template>
        </div>
        -->
        <div *ngIf="service3length > 0" [ngClass]="isShowJobCat4 ? 'showService' : 'hideService'">
            <app-cat1cat2 [serviceCat1]="service3" [color]="backColor2" [winWidth]="xWindow"></app-cat1cat2>
        </div>

        <!--    
        <div pDefer>
            <ng-template>
                <app-cat1cat2 [serviceCat1]="service4" [color]="backColor1" [winWidth]="xWindow"></app-cat1cat2>
            </ng-template>
        </div>
        -->
        <div *ngIf="service4length > 0" [ngClass]="isShowJobCat5 ? 'showService' : 'hideService'">
            <app-cat1cat2 [serviceCat1]="service4" [color]="backColor1" [winWidth]="xWindow"></app-cat1cat2>
        </div>

        <!--
        <div pDefer>
            <ng-template>
                <app-cat1cat2 [serviceCat1]="service5" [color]="backColor2" [winWidth]="xWindow"></app-cat1cat2>
            </ng-template>
        </div>
        -->
        <div *ngIf="service5length > 0" [ngClass]="isShowJobCat6 ? 'showService' : 'hideService'">
            <app-cat1cat2 [serviceCat1]="service5" [color]="backColor2" [winWidth]="xWindow"></app-cat1cat2>
        </div>

        <!--        
        <div pDefer>
            <ng-template>
                <app-cat1cat2 [serviceCat1]="service6" [color]="backColor1" [winWidth]="xWindow"></app-cat1cat2>
            </ng-template>
        </div>
        -->
        <div *ngIf="service6length > 0" [ngClass]="isShowJobCat7 ? 'showService' : 'hideService'">
            <app-cat1cat2 [serviceCat1]="service6" [color]="backColor1" [winWidth]="xWindow"></app-cat1cat2>
        </div>

        <!--
        <div pDefer>
            <ng-template>
                <app-cat1cat2 [serviceCat1]="service7" [color]="backColor2" [winWidth]="xWindow"></app-cat1cat2>
            </ng-template>
        </div>
        -->
        <div *ngIf="service7length > 0" [ngClass]="isShowJobCat8 ? 'showService' : 'hideService'">
            <app-cat1cat2 [serviceCat1]="service7" [color]="backColor2" [winWidth]="xWindow"></app-cat1cat2>
        </div>
        
      </div>

</div>
<!--end main content-->

<!----start footer---->
<app-footer></app-footer>
<!----end footer---->

</div>


