<div>
    <div class="row clear">
        <!-----start right col----->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 clear" style="padding: 10px;">
            <!----start box accept offer (box 1)---->
            <div style="padding: 10px 5px; border: 1px solid #C8C8C8; border-radius: 7px; position: relative;">
                <div class="row clear">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-5 col-xl-4 clear">
                        <div style="width: 100%; padding: 5px; text-align: center;">
                            <img src="{{workerImg}}" 
                            style="width: 100%; max-width: 150px; border-radius: 50%;" 
                            class="img-fluid">
                        </div>
                        <div style="width: 100%; text-align: center; font-size: 12px;">
                            <span>{{workerName}}</span>
                        </div>
                        <div style="width: 100%; padding: 10px 0px; text-align: center;">
                            <div style="direction: ltr; text-align: center; padding: 7px 0px; padding-top: 2px;">
                                <span *ngFor="let star of customFunction.makeStarScore(workerTotalScore)">
                                    <i *ngIf="star == 0" class="far fa-star" style="color: #039BE5"></i>
                                    <i *ngIf="star == 0.5" class="fas fa-star-half-alt" style="color: #039BE5"></i>
                                    <i *ngIf="star == 1" class="fas fa-star" style="color: #039BE5"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-7 col-xl-8 clear">
                        <div style="font-size: 12px;padding: 5px; padding-top: 15px; width: 100%;">
                            <strong>{{workTitle}}</strong>
                        </div>
                        <div style="font-size: 12px;padding: 5px; padding-top: 15px; width: 100%;">
                            <span>{{"قیمت پیشنهادی: "}}</span>
                            <span>{{price}}</span>
                        </div>
                        <div style="font-size: 12px;padding: 5px; padding-top: 15px; width: 100%;">
                            <span>{{surveyRequiredText}}</span>
                            <span *ngIf="!surveyRequired">{{"ندارد"}}</span>
                            <span *ngIf="surveyRequired">{{"دارد"}}</span>
                        </div>
                        <div style="font-size: 12px;padding: 5px; padding-top: 15px; width: 100%;">
                            <span>{{"توضیحات: "}}</span>
                            <span>{{workerDescription}}</span>
                        </div>
                        <div style="font-size: 12px;padding: 5px; padding-top: 15px; width: 100%;">
                            <span>{{"شماره تماس: "}}</span>
                            <span>
                                <a href="{{mobileHref}}">{{workerMobile}}</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!----end box accept offer (box 1)---->

            <!----start box worker profile (box 2)-->
            <div style="width: 100%; padding-top: 15px; font-size: 12px;">
                <div style="padding: 10px 5px; border: 1px solid #C8C8C8; border-radius: 7px;">
                    <div class="row clear">
                        <div *ngIf="workerCode && workerCode != ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 clear">
                            <span style="display: inline-block; width: 50%;">{{"کد متخصص: "}}</span>
                            <span style="direction: ltr; display: inline-block; width: 50%; text-align: left;">{{workerCode}}</span>
                        </div>


                        <div *ngIf="workerScore" style="width: 100%; padding: 7px 0px;">
                            <div>
                                <span style="display: inline-block; width: 50%;">{{"قیمت دهی مناسب: "}}</span>
                                <div style="direction: ltr; display: inline-block; width: 50%; text-align: left;">
                                    <span *ngFor="let star of customFunction.makeStarScore(priceScore)">
                                        <i *ngIf="star == 0" class="far fa-star" style="color: #039BE5"></i>
                                        <i *ngIf="star == 0.5" class="fas fa-star-half-alt" style="color: #039BE5"></i>
                                        <i *ngIf="star == 1" class="fas fa-star" style="color: #039BE5"></i>
                                    </span>
                                </div>                              
                            </div>

                            <div>
                                <span style="display: inline-block; width: 50%;">{{"رضایت مشتری از کار: "}}</span>
                                <div style="direction: ltr; display: inline-block; width: 50%; text-align: left;">
                                    <span *ngFor="let star of customFunction.makeStarScore(satisfactionScore)">
                                        <i *ngIf="star == 0" class="far fa-star" style="color: #039BE5"></i>
                                        <i *ngIf="star == 0.5" class="fas fa-star-half-alt" style="color: #039BE5"></i>
                                        <i *ngIf="star == 1" class="fas fa-star" style="color: #039BE5"></i>
                                    </span>
                                </div>                              
                            </div>
                            
                            <div>
                                <span style="display: inline-block; width: 50%;">{{"وقت شناسی متخصص: "}}</span>
                                <div style="direction: ltr; display: inline-block; width: 50%; text-align: left;">
                                    <span *ngFor="let star of customFunction.makeStarScore(timeScore)">
                                        <i *ngIf="star == 0" class="far fa-star" style="color: #039BE5"></i>
                                        <i *ngIf="star == 0.5" class="fas fa-star-half-alt" style="color: #039BE5"></i>
                                        <i *ngIf="star == 1" class="fas fa-star" style="color: #039BE5"></i>
                                    </span>
                                </div>                              
                            </div>
                        </div>

                        <div *ngIf="workerContact" style="width: 100%; padding: 7px 0px;">
                            <div *ngIf="workerEmail != ''" style="width: 100%;">
                                <div style="direction: rtl; text-align: right;width: 20%; display: inline-block;">
                                    <span>{{"ایمیل:"}}</span>
                                </div>
                                <div style="direction: ltr; text-align: left;width: 80%; display: inline-block;">
                                    <span>{{workerEmail}}</span>
                                </div>
                            </div>
                            <div *ngIf="workerWebsite != ''" style="width: 100%;">
                                <div style="direction: rtl; text-align: right;width: 20%; display: inline-block;">
                                    <span>{{"وب سایت: "}}</span>
                                </div>
                                <div style="direction: ltr; text-align: left;width: 80%; display: inline-block;">
                                    <a [href]="workerWebsite" target="_blank">
                                        <span>{{workerWebsite}}</span>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="workerInstagram != ''" style="width: 100%;">
                                <div style="direction: rtl; text-align: right;width: 20%; display: inline-block;">
                                    <span>{{"اینستاگرام: "}}</span>
                                </div>
                                <div style="direction: ltr; text-align: left;width: 80%; display: inline-block;">
                                    <a [href]="workerInstagram" target="_blank">
                                        <span>{{workerInstagram}}</span>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="workerTelegram != ''" style="width: 100%;">
                                <div style="direction: rtl; text-align: right;width: 20%; display: inline-block;">
                                    <span>{{"تلگرام: "}}</span>
                                </div>
                                <div style="direction: ltr; text-align: left;width: 80%; display: inline-block;">
                                    <a [href]="workerTelegram" target="_blank">
                                        <span>{{workerTelegram}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="workerAddress" style="width: 100%; padding: 7px 0px;">
                            <div *ngIf="workerAddress != ''" style="width: 100%;">
                                <div style="text-align: right; width: 20%; display: inline-block;">
                                    <span>{{"آدرس: "}}</span>
                                </div>
                                <div style="direction: ltr; text-align: left;width: 80%; display: inline-block;">
                                    <span>{{workerAddress}}</span>
                                </div>
                            </div>
                            <div *ngIf="workerLat != 0 && workerlng != 0" style="width: 100%;">
                                <!--Start map--> 
                                <div class="divMap" style="position: relative;">
                                    <agm-map [zoom]="14" 
                                        [gestureHandling]="'greedy'"
                                        [latitude]="workerLat" 
                                        [longitude]="workerlng" 
                                        [mapDraggable]="false" 
                                        [streetViewControl]="false"
                                        [showDefaultInfoWindow]="false"
                                        [zoomControl]="true">
                                    </agm-map>
                                    <div style="position: absolute; top: 43px; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.4); height: 0px;">
                                        <img src="assets/image/marker.png" style="width: 60px; height: 60px; z-index: 2;">
                                    </div>
                                </div>
                                 <!--End map-->
                            </div>
                        </div>

                        <div *ngIf="workerCatalog.length > 0">
                            <div style=" width: 100%; padding: 7px 0px;">
                                <span>نمونه کارها</span>
                            </div>
                            <div *ngFor="let item of workerCatalog" style="display: inline-block; padding: 5px; width: 130px;">
                                <img src="{{imgPath + item.photo}}" (click)="onPhoto(item.photo)" 
                                style="width: 100%; border-radius: 5px;" class="img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!----end box worker profile (box 2)-->
        </div>
        <!-----end right col----->

        <!-----start left col----->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-7 clear" style="padding: 10px;">
            <!----start box invoice (box 3)---->
            <div style="padding: 10px 5px; border: 1px solid #C8C8C8; border-radius: 7px; font-size: 14px;">
                <strong>پیش فاکتور</strong>
                <div *ngIf="workerInvoice">
                    <table *ngIf="workerInvoice.items.length > 0" style="width: 100%;">
                        <tr>
                            <th>نام کالا</th>
                            <th>تعداد</th>
                            <th>قیمت واحد (تومان)</th>
                            <th>قیمت کل (تومان)</th>
                        </tr>
                        <tr *ngFor="let item of workerInvoice.items; index as i" 
                        [ngStyle]="(i % 2 == 0 ) ? {'background-color':'#ECEFF1'} : {'background-color':'#FFFFFF'}">
                            <td>{{item.title}}</td>
                            <td>{{customFunction.chanageNumbersToFarsi(item.quantity.toString())}}</td>
                            <td>{{customFunction.formatAmountMoney(customFunction.chanageNumbersToFarsi(item.unitPrice.toString()))}}</td>
                            <td>{{customFunction.formatAmountMoney(customFunction.chanageNumbersToFarsi(item.totalPrice.toString()))}}</td>
                        </tr>
                    </table>
                    <div style="padding: 15px 0px;">
                        <div><span class="styleRowSpanInvoice">{{"هزینه ایاب و ذهاب: " + customFunction.formatAmountMoney(customFunction.chanageNumbersToFarsi(workerInvoice.transfer.toString())) + " تومان"}}</span></div>
                        <div><span class="styleRowSpanInvoice">{{"دستمزد: " + customFunction.formatAmountMoney(customFunction.chanageNumbersToFarsi(workerInvoice.wage.toString())) + " تومان"}}</span></div>
                    </div>
                    <div><span class="styleRowSpanInvoice">{{"قیمت کل: " + customFunction.formatAmountMoney(customFunction.chanageNumbersToFarsi(workerInvoice.totalPrice.toString())) + " تومان"}}</span></div>
                </div>
                <div *ngIf="!workerInvoice" style="text-align-last: center;">
                    <span style="padding: 20px 10px; font-size: 14px; color: #CFD8DC;">پیش فاکتور ندارد</span>
                </div>
            </div>
            <!----end box invoice (box 3)---->
        </div>
        <!-----end left col----->

    </div>
</div>

<!--Start modal photo-->
<div *ngIf="basicData.activeModalPhoto.value">
    <photoPopup [srcPhoto]="srcPhotoPopUp"></photoPopup>
</div>
<!--End modal photo-->
