<div class="mainDiv" (window:resize)="onResize($event)">    

      <svg class="svg-snowscene" xmlns="http://www.w3.org/2000/svg">
        <!--
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        <circle class="snow" />
        -->
      </svg>

    <div style="z-index: 1;">            
      <router-outlet></router-outlet>
    </div>
    
</div>